<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397566124081-omkc2lfuh3rtbort9vc6it2hob6smo60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397566124081-omkc2lfuh3rtbort9vc6it2hob6smo60</string>
	<key>API_KEY</key>
	<string>AIzaSyCoqWAzqp07jeeNeAaSh3TcWxMv2T5aVBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>397566124081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bouba.ihssanApp</string>
	<key>PROJECT_ID</key>
	<string>ihassan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ihassan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397566124081:ios:c32826d1d0122915833510</string>
</dict>
</plist>